USE [master]
GO
/****** Object:  Database [culturedb]    Script Date: 16-12-2024 09:38:53 PM ******/
CREATE DATABASE [culturedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'culturedb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\culturedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'culturedb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\culturedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [culturedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [culturedb]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NULL,
	[member_id] [int] NULL,
	[booking_date] [nchar](100) NULL,
	[module_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [nchar](100) NULL,
	[sender_name] [nchar](100) NULL,
	[offer] [nchar](400) NULL,
	[need] [nchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nchar](400) NULL,
	[event_description] [nchar](1000) NULL,
	[event_date] [nchar](100) NULL,
	[attendance] [int] NULL,
	[organiser_name] [nchar](100) NULL,
	[image] [nchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NULL,
	[sender_name] [nchar](100) NULL,
	[file_name] [nchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](100) NULL,
	[password] [nchar](100) NULL,
	[email] [nchar](100) NULL,
	[date_register] [nchar](100) NULL,
	[member_type] [nchar](100) NULL,
	[interest] [nchar](100) NULL,
	[status] [nchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NULL,
	[message] [nchar](2048) NULL,
	[sender_name] [nchar](100) NULL,
	[date_time] [nchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modules]    Script Date: 16-12-2024 09:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modules](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[module_name] [nchar](100) NULL,
	[description] [nchar](100) NULL,
	[price] [real] NULL
) ON [PRIMARY]
GO
USE [master]
GO
